img {
    border-radius: 50%;
}

body {
    background-image: url('transparent.jpg');
    background-size: cover;
}

p {
    width: 520px;
    margin: auto;
    padding: 0;
    color: white;
    float: right;
    font-family: 'Righteous', cursive;
}
    li a {
        display: block;
    
}
h1 {
    font-size: 1em;
}

h4 {
     color: white;
}

.banner-text {
    color: white;
    font-family: 'Philosopher', sans-serif;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    background-color: black;
    text-align: center;
}
.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
}
.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
.banner-text h2 {
    padding: 1em;
}
.social-links {
  display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
   background-color: transparent;
    font-size: 2em;